

@media screen and (min-width: 601px) {

    .icon{
        font-size:x-large;
        color: black;
    }

    Form{
        margin-top:3%;
        margin-left: 20%;
        margin-right: 20%;
        
        
    }

    .row {
        margin-bottom: 2% !important;
    }

    Button{
        margin-left: 6%;
    }
}

@media screen and (max-width: 600px) {

    .icon{
        font-size:x-large;
        color: black;
    }

    Form{
        margin-top:5%;
        margin-left: 5%;
        margin-right: 5%;
        
        
    }

    .row {
        margin-bottom: 4% !important;
    }
    

    Button{
        margin-left: 6%;
    }

}